.hidden {
  display: none;
  opacity: 0;
  z-index: -1;
}
.show {
  display: flex;
  opacity: 1;
  z-index: 1;
}

/*  모달  */
.modal-container {
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 500px;
  height: 550px;
  box-shadow: 0 0 5px 0 #777777aa;
  border-radius: 12px;
  transition: ease-in-out 0.3s;
}

.modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-h-container {
  width: 80%;
  margin-bottom: 2rem;
}
.modal-welcome-h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.modal-welcome-h2 {
  font-size: 1.2rem;
  color: #9599a2;
}
.modal-input-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.8rem;
}

.text {
  background: #f5f7f9;
  padding: 6px;
  border: none;
  transition: ease-in-out 0.2s;
}
.text:focus {
  outline-color: #157afe;
}
.input {
  padding: 15px;
  border-radius: 8px;
  font-size: 0.9rem;
}
.modal-button {
  border: none;
  background-color: #157afe;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.modal-button:hover {
  background-color: rgb(41 142 255);
  transform: scale(1.01);
}
#forgot-password {
  text-align: right;
  color: #157afe;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
#forgot-password:hover {
  text-decoration: underline;
}

.modal-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 1rem;
}
.modal-divider div {
  width: 45%;
  height: 1px;
  border-bottom: 2px solid #88888844;
}
.modal-divider span {
  padding: 0 0.5rem;
  color: #888888;
}
.modal-social-icon-container {
  margin-top: 1.5rem;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.modal-social-icon-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 0.75rem 1rem;
  border: 2px #f1f3f3 solid;
  border-radius: 8px;
  background: transparent;
  color: #555;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.modal-social-icon-container button:hover {
  background-color: #fafafa;
}
.modal-social-icon-container img {
  width: 26px;
  padding-right: 0.3rem;
}
.modal-last-suggestion-container {
  margin-top: 2rem;
}
.modal-last-suggestion-container h3 {
  color: #777;
  font-size: 0.9rem;
  font-weight: 600;
}
.modal-last-suggestion-container span {
  color: #157afe;
  font-weight: 700;
  cursor: pointer;
}
.modal-last-suggestion-container span:hover {
  text-decoration: underline;
}
/*  모달  */
